<header id="header" class="bg-white m-auto mb-3 mt-3 d-flex justify-content-between p-2 w-75">
    <button type="button" class="btn btn-light bg-white border-0">
        <strong><a style="text-decoration: none !important;" class="text-danger" href="/">Pokédex</a></strong>
    </button>
    <button type="button" class="btn btn-light bg-white border-0">
        <strong><a style="text-decoration: none !important;" class="text-danger" href="/types">Liste types</a></strong>
    </button>
    <button type="button" class="btn btn-light bg-white border-0">
        <strong><a style="text-decoration: none !important;" class="text-danger" href="/admin">Dashboard</a></strong>
    </button>
    
</header>