{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
<div class="content-panel-body without-header without-footer text-center border-0 bg-transparent"><h1>Welcome to your Dashboard</h1></div>
{% endblock %}